<!-- views/add.erb -->
<!doctype html>
<html>
<head>
	<title>Calculator</title>
</head>
<body>
	<h1>Welcome to this awesome calculator</h1>
	<h2><a href="/add" alt= "Add">Add</h2>
	<h2><a href="/substract" alt= "Substract">Substract</h2>
	<h2><a href="/multiply" alt= "Multiply">Multiply</h2>
	<h2><a href="/divide" alt= "Divide">Divide</h2>
</body>
</html>